In [1]:
%load_ext autoreload
%autoreload 2

# Initial multilingual baseline (no training)

In [2]:
from models import models
models

{'multilingual': 'FacebookAI/xlm-roberta-base',
 'arq': 'CAMeL-Lab/bert-base-arabic-camelbert-da',
 'amh': 'Davlan/xlm-roberta-base-finetuned-amharic',
 'eng': 'FacebookAI/roberta-base',
 'hau': 'Davlan/xlm-roberta-base-finetuned-hausa',
 'kin': 'Davlan/xlm-roberta-base-finetuned-kinyarwanda',
 'mar': 'l3cube-pune/marathi-roberta',
 'ary': 'CAMeL-Lab/bert-base-arabic-camelbert-da',
 'esp': 'PlanTL-GOB-ES/roberta-base-bne',
 'tel': 'l3cube-pune/telugu-bert'}

In [3]:
from util import get_langs
langs = get_langs()
langs

/home/tollef/git/STS-augmented-pair-encoder/pair_encoder/model.py:9: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  from tqdm.autonotebook import tqdm, trange

['amh', 'arq', 'ary', 'eng', 'esp', 'hau', 'kin', 'mar', 'tel']

In [7]:
from pair_encoder.evaluation import CorrelationEvaluator, get_correlation
import pandas as pd


from util import get_data, get_pairs, eval_and_submit

def eval_lang(model, lang, save_name, model_name="default"):
    data = {
        "dev": get_pairs(get_data(lang=lang, train=False)),
        "test": get_pairs(get_data(lang=lang, test=True))
    }
    correlations = {
        "dev": get_correlation(test=data["dev"], pair_encoder=model),
        "test": get_correlation(test=data["test"], pair_encoder=model)
    }
    eval_and_submit(
        pair_encoder=model,
        lang=lang,
        model_name=model_name,
        timestamp=f"{lang}-test-{save_name}",
        evaluation_phase=True
    )
    return correlations

In [8]:
from pair_encoder.model import PairEncoder

baseline_no_train = {}
for lang in langs:
    model_name = models[lang]
    model = PairEncoder(
        model_name=model_name, max_length=200, device="cuda", seed=42
    )
    baseline_no_train[lang] = eval_lang(
        model, lang, save_name=f"CUSTOMMODEL-notrain", model_name=model_name
    )

Some weights of XLMRobertaForSequenceClassification were not initialized from the model checkpoint at Davlan/xlm-roberta-base-finetuned-amharic and are newly initialized: ['classifier.dense.weight', 'classifier.dense.bias', 'classifier.out_proj.bias', 'classifier.out_proj.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

Saving submission to submissions/amh-test-CUSTOMMODEL-notrain/pred_amh_a.csv

Some weights of BertForSequenceClassification were not initialized from the model checkpoint at CAMeL-Lab/bert-base-arabic-camelbert-da and are newly initialized: ['classifier.bias', 'classifier.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

Saving submission to submissions/arq-test-CUSTOMMODEL-notrain/pred_arq_a.csv

Some weights of BertForSequenceClassification were not initialized from the model checkpoint at CAMeL-Lab/bert-base-arabic-camelbert-da and are newly initialized: ['classifier.bias', 'classifier.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

Saving submission to submissions/ary-test-CUSTOMMODEL-notrain/pred_ary_a.csv

Some weights of RobertaForSequenceClassification were not initialized from the model checkpoint at FacebookAI/roberta-base and are newly initialized: ['classifier.dense.weight', 'classifier.dense.bias', 'classifier.out_proj.bias', 'classifier.out_proj.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

Saving submission to submissions/eng-test-CUSTOMMODEL-notrain/pred_eng_a.csv

Some weights of RobertaForSequenceClassification were not initialized from the model checkpoint at PlanTL-GOB-ES/roberta-base-bne and are newly initialized: ['classifier.dense.weight', 'classifier.dense.bias', 'classifier.out_proj.bias', 'classifier.out_proj.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.
/home/tollef/.local/lib/python3.10/site-packages/scipy/stats/_stats_py.py:5445: ConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  warnings.warn(stats.ConstantInputWarning(warn_msg))

Saving submission to submissions/esp-test-CUSTOMMODEL-notrain/pred_esp_a.csv

Some weights of XLMRobertaForSequenceClassification were not initialized from the model checkpoint at Davlan/xlm-roberta-base-finetuned-hausa and are newly initialized: ['classifier.dense.weight', 'classifier.dense.bias', 'classifier.out_proj.bias', 'classifier.out_proj.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

Saving submission to submissions/hau-test-CUSTOMMODEL-notrain/pred_hau_a.csv

Some weights of XLMRobertaForSequenceClassification were not initialized from the model checkpoint at Davlan/xlm-roberta-base-finetuned-kinyarwanda and are newly initialized: ['classifier.dense.weight', 'classifier.dense.bias', 'classifier.out_proj.bias', 'classifier.out_proj.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

Saving submission to submissions/kin-test-CUSTOMMODEL-notrain/pred_kin_a.csv

Some weights of XLMRobertaForSequenceClassification were not initialized from the model checkpoint at l3cube-pune/marathi-roberta and are newly initialized: ['classifier.dense.weight', 'classifier.dense.bias', 'classifier.out_proj.bias', 'classifier.out_proj.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

Saving submission to submissions/mar-test-CUSTOMMODEL-notrain/pred_mar_a.csv

Some weights of BertForSequenceClassification were not initialized from the model checkpoint at l3cube-pune/telugu-bert and are newly initialized: ['classifier.bias', 'bert.pooler.dense.weight', 'classifier.weight', 'bert.pooler.dense.bias']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

Saving submission to submissions/tel-test-CUSTOMMODEL-notrain/pred_tel_a.csv

In [9]:
baseline_no_train

{'amh': {'dev': 0.1965079646056153, 'test': 0.20400322691324638},
 'arq': {'dev': 0.04756816761282438, 'test': -0.10968241612417946},
 'ary': {'dev': -0.1974865817391526, 'test': -0.019093196690484614},
 'eng': {'dev': 0.10982817158298783, 'test': 0.10086046114317106},
 'esp': {'dev': 0.12803685538883136, 'test': nan},
 'hau': {'dev': 0.12951205532589663, 'test': 0.09523402829976144},
 'kin': {'dev': 0.07085512968009423, 'test': 0.1434704633236933},
 'mar': {'dev': -0.09905291597552086, 'test': -0.03348792211518759},
 'tel': {'dev': 0.18360119164375752, 'test': 0.08402836706011647}}

In [10]:
df_baseline_notrain = pd.DataFrame(baseline_no_train).T
df_prefix = "custom-notrain"
df_baseline_notrain.columns = [f"{df_prefix}_{c}" for c in df_baseline_notrain.columns]
df_baseline_notrain.T

,amh,arq,ary,eng,esp,hau,kin,mar,tel
custom-notrain_dev,0.196508,0.047568,-0.197487,0.109828,0.128037,0.129512,0.070855,-0.099053,0.183601
custom-notrain_test,0.204003,-0.109682,-0.019093,0.100860,NaN,0.095234,0.143470,-0.033488,0.084028

In [11]:
del model

# Train per language

In [ ]:
from pair_encoder import train_encoder

baseline_train_lang = {}

K = 0

for lang in langs:
    print(f"Training on {lang}...")
    lang_train = get_data(lang=lang, train=True)
    lang_dev = get_data(lang=lang, train=False)

    train_pairs = get_pairs(lang_train)
    eval_pairs = get_pairs(lang_dev)
    evaluator = CorrelationEvaluator.load(eval_pairs)
    
    model_name = models[lang]
    print(f"Using model {model_name} for {lang}...")

    encoder, _ = train_encoder(
        train_samples=train_pairs,
        upscaling_samples=None,
        evaluator=evaluator,
        timestamp=f"{model_name}-train-{lang}",
        model_name=model_name,
        similarity_model=None,
        batch_size=32,
        learning_rate=2e-5,
        max_grad_norm=1.0,
        epochs=5,
        eval_steps=0,
        max_length=200,
        k=K,
        weak_training_epochs=2,  # used if k > 0
        seed=42,
        save_to=None,
        verbose=True,
        device="cuda"
    )
    
    baseline_train_lang[lang] = eval_lang(encoder, lang, save_name="baseline-train-{lang}")

In [16]:
del encoder

In [14]:
df_baseline_lang = pd.DataFrame(baseline_train_lang).T
df_prefix = "custom-lang"
df_baseline_lang.columns = [f"{df_prefix}_{c}" for c in df_baseline_lang.columns]
df_baseline_lang.T

,amh,arq,ary,eng,esp,hau,kin,mar,tel
custom-lang_dev,0.859037,0.388998,0.814276,0.827910,0.682295,0.759853,0.647343,0.847262,0.807446
custom-lang_test,0.805567,0.400398,0.811523,0.833139,NaN,0.687901,0.720887,0.861041,0.834647

In [17]:
final_df = pd.concat([df_baseline_notrain.T, df_baseline_lang.T], axis=0)
final_df

,amh,arq,ary,eng,esp,hau,kin,mar,tel
custom-notrain_dev,0.196508,0.047568,-0.197487,0.109828,0.128037,0.129512,0.070855,-0.099053,0.183601
custom-notrain_test,0.204003,-0.109682,-0.019093,0.100860,NaN,0.095234,0.143470,-0.033488,0.084028
custom-lang_dev,0.859037,0.388998,0.814276,0.827910,0.682295,0.759853,0.647343,0.847262,0.807446
custom-lang_test,0.805567,0.400398,0.811523,0.833139,NaN,0.687901,0.720887,0.861041,0.834647

In [18]:
# update esp values from codalab
final_df.loc["custom-notrain_test", "esp"] = 	-0.033539733
final_df.loc["custom-lang_test", "esp"] = 0.720519

final_df

,amh,arq,ary,eng,esp,hau,kin,mar,tel
custom-notrain_dev,0.196508,0.047568,-0.197487,0.109828,0.128037,0.129512,0.070855,-0.099053,0.183601
custom-notrain_test,0.204003,-0.109682,-0.019093,0.100860,-0.033540,0.095234,0.143470,-0.033488,0.084028
custom-lang_dev,0.859037,0.388998,0.814276,0.827910,0.682295,0.759853,0.647343,0.847262,0.807446
custom-lang_test,0.805567,0.400398,0.811523,0.833139,0.720519,0.687901,0.720887,0.861041,0.834647

In [19]:
final_df = final_df * 100
final_df = final_df.applymap(lambda x: round(x, 2))
final_df

,amh,arq,ary,eng,esp,hau,kin,mar,tel
custom-notrain_dev,19.65,4.76,-19.75,10.98,12.80,12.95,7.09,-9.91,18.36
custom-notrain_test,20.40,-10.97,-1.91,10.09,-3.35,9.52,14.35,-3.35,8.40
custom-lang_dev,85.90,38.90,81.43,82.79,68.23,75.99,64.73,84.73,80.74
custom-lang_test,80.56,40.04,81.15,83.31,72.05,68.79,72.09,86.10,83.46

In [20]:
# change order from
# amh	arq	ary	eng	esp	hau	kin	mar	tel
# to 
# arq   & amh   & eng   & hau   & kin   & mar   & ary   & esp   & tel
columns = [
    "arq", "amh", "eng", "hau", "kin", "mar", "ary", "esp", "tel"
]

final_df = final_df[columns]
final_df

,arq,amh,eng,hau,kin,mar,ary,esp,tel
custom-notrain_dev,4.76,19.65,10.98,12.95,7.09,-9.91,-19.75,12.80,18.36
custom-notrain_test,-10.97,20.40,10.09,9.52,14.35,-3.35,-1.91,-3.35,8.40
custom-lang_dev,38.90,85.90,82.79,75.99,64.73,84.73,81.43,68.23,80.74
custom-lang_test,40.04,80.56,83.31,68.79,72.09,86.10,81.15,72.05,83.46

In [23]:
# split the df into dev and test, based on the last prefix
index = "base lang".split()
dev_df = final_df[final_df.index.str.contains("dev")]
dev_df.index = index

test_df = final_df[final_df.index.str.contains("test")]
test_df.index = index

In [24]:
print(dev_df.to_latex(float_format="%.2f"))

\begin{tabular}{lrrrrrrrrr}
\toprule
 & arq & amh & eng & hau & kin & mar & ary & esp & tel \\
\midrule
base & 4.76 & 19.65 & 10.98 & 12.95 & 7.09 & -9.91 & -19.75 & 12.80 & 18.36 \\
lang & 38.90 & 85.90 & 82.79 & 75.99 & 64.73 & 84.73 & 81.43 & 68.23 & 80.74 \\
\bottomrule
\end{tabular}

In [25]:
print(test_df.to_latex(float_format="%.2f"))

\begin{tabular}{lrrrrrrrrr}
\toprule
 & arq & amh & eng & hau & kin & mar & ary & esp & tel \\
\midrule
base & -10.97 & 20.40 & 10.09 & 9.52 & 14.35 & -3.35 & -1.91 & -3.35 & 8.40 \\
lang & 40.04 & 80.56 & 83.31 & 68.79 & 72.09 & 86.10 & 81.15 & 72.05 & 83.46 \\
\bottomrule
\end{tabular}